<!--section class="cta">
    <div class="wrap clearfix">
        <a class="button big white right" href="login.html">Purchase theme</a>
        <h2>Already convinced? This is a call to action section lorem ipsum dolor sit amet.</h2>
    </div>
</section-->
<footer role="contentinfo" class="foot">
    <div class="wrap clearfix">
        <div class="row">

            <div class="bottom">
                <p class="copy">© 2016 x4d.me. 京ICP备13013758号</p>

                <nav class="foot-nav">
                    <ul>
                        <li><a title="Home" href="/about.html">关于小食代</a></li>
                        <li><a title="Recipes" href="/contact.html">联系我们</a></li>
                        <li><a title="Blog" href="/privacy.html">隐私声明</a></li>
                        <li><a title="Blog" href="/map.html">网站地图</a></li>
                        <li><a title="Search for recipes" href="http://m.x4d.me">小食代手机版</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>