<header role="banner" class="head">
    <div class="wrap clearfix">
        <a class="logo" title="小食代" href="http://www.tudouhan.com"><img alt="SocialChef logo" src="/Public/Home/images/ico/logo.png"></a>
        <nav id="menu" role="navigation" class="main-nav">
            <ul>
                <li class="current-menu-item"><a title="Home" href="/"><span>首页</span></a></li>
                <li><a title="菜谱" href="http://www.tudouhan.com/meishi/"><span>菜谱</span></a>
                    <ul>
                        <li><h6>食材</h6></li>
                        <li>
                            <a title="Recipes 2" href="#">Recipes 2</a>
                            <a title="Recipes 2" href="#">Recipes 2</a>
                            <a title="Recipes 2" href="#">Recipes 2</a>
                            <a title="Recipes 2" href="#">Recipes 2</a>
                        </li>
                        <li><a title="Recipe" href="recipe.html">菜谱</a></li>
                    </ul>
                </li>
                <li><a title="食材" href="http://shicai.tudouhan.com/"><span>食材</span></a></li>
                <li><a title="美食技巧" href="#"><span>美食技巧</span></a>
                    <ul>
                        <li><a title="烹饪技巧" href="left_sidebar.html">烹饪技巧</a></li>
                        <li><a title="饮食百科" href="right_sidebar.html">饮食百科</a></li>
                        <li><a title="饮食快讯" href="two_sidebars.html">饮食快讯</a></li>
                        <li><a title="餐桌礼仪" href="full_width.html">餐桌礼仪</a></li>
                    </ul>
                </li>
                <li><a title="调料科" href="#"><span>调料库</span></a></li>
                <li><a title="厨具库" href="#"><span>厨具库</span></a></li>
                <li><a title="排行榜" href="#"><span>排行榜</span></a></li>
                <li><a title="菜谱达人" href="#"><span>菜谱达人</span></a></li>
                <li><a title="美食问答" href="#"><span>美食问答</span></a></li>
            </ul>
        </nav>
        <nav role="navigation" class="user-nav">
            <ul>
                <li class="light"><a title="搜索小食代" href="find_recipe.html"><i class="ico i-search"></i> <span>搜索</span></a></li>
                <li class="medium"><a title="个人中心" href="/user/profile.html"><i class="ico i-account"></i> <span>个人中心</span></a></li>
                <li class="dark"><a title="发布资源" href="/create.html"><i class="ico i-submitrecipe"></i> <span>发布菜谱</span></a></li>
            </ul>
        </nav>
    </div>
</header>