<!DOCTYPE html>
<html lang="zh_CN" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="/Public/Material/js/html5shiv.js"></script>
    <script src="/Public/Material/js/respond.min.js"></script>
    <![endif]-->
    <title>SocialChef A new group » Home » SocialChef</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Home – A new group – SocialChef</title>
    <link rel="stylesheet" id="bbp-default-css" href="/Public/Material/css/bbpress.css"
          type="text/css" media="screen">
    <link rel="stylesheet" id="bp-parent-css-css"
          href="/Public/Material/css/buddypress.css" type="text/css" media="screen">
    <link rel="stylesheet" id="contact-form-7-css" href="/Public/Material/css/styles.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-layout-css"
          href="/Public/Material/css/woocommerce-layout.css" type="text/css" media="all">
    <link rel="stylesheet" id="woocommerce-smallscreen-css"
          href="/Public/Material/css/woocommerce-smallscreen.css" type="text/css"
          media="only screen and (max-width: 768px)">
    <link rel="stylesheet" id="woocommerce-general-css"
          href="/Public/Material/css/woocommerce.css" type="text/css" media="all">
    <link rel="stylesheet" id="meks-ads-widget-css" href="/Public/Material/css/style.css"
          type="text/css" media="all">
    <link rel="stylesheet" id="socialchef-style-pp-css"
          href="/Public/Material/css/prettyPhoto.css" type="text/css" media="screen">
    <link rel="stylesheet" id="socialchef-icons-css" href="/Public/Material/css/icons.css"
          type="text/css" media="screen">
    <link rel="stylesheet" id="socialchef-style-main-css"
          href="/Public/Material/css/style(1).css" type="text/css"
          media="screen,projection,print">
    <link rel="stylesheet" id="socialchef-style-css"
          href="/Public/Material/css/style(2).css" type="text/css" media="all">
    <link rel="stylesheet" id="socialchef-style-color-css"
          href="/Public/Material/css/theme-default.css" type="text/css"
          media="screen,projection,print">
    <link rel="stylesheet" id="Raleway-css" href="/Public/Material/css/css"
          type="text/css" media="all">
    <script type="text/javascript" src="/Public/Material/js/jquery.js"></script>
    <script type="text/javascript"
            src="/Public/Material/js/jquery-migrate.min.js"></script>
    <script type="text/javascript"
            src="/Public/Material/js/widget-groups.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var BP_Confirm = {"are_you_sure": "Are you sure?"};
        /* ]]> */
    </script>
    <script type="text/javascript" src="/Public/Material/js/confirm.min.js"></script>
    <script type="text/javascript"
            src="/Public/Material/js/widget-members.min.js"></script>
    <script type="text/javascript"
            src="/Public/Material/js/jquery-query.min.js"></script>
    <script type="text/javascript"
            src="/Public/Material/js/jquery-cookie.min.js"></script>
    <script type="text/javascript"
            src="/Public/Material/js/jquery-scroll-to.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var heartbeatSettings = {
            "ajaxurl": "\/themes\/wordpress\/social-chef\/wp-admin\/admin-ajax.php",
            "interval": "15",
            "autostart": "1"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="/Public/Material/js/heartbeat.min.js"></script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var BP_DTheme = {
            "accepted": "Accepted",
            "close": "Close",
            "comments": "comments",
            "leave_group_confirm": "Are you sure you want to leave this group?",
            "mark_as_fav": "Favorite",
            "my_favs": "My Favorites",
            "rejected": "Rejected",
            "remove_fav": "Remove Favorite",
            "show_all": "Show all",
            "show_all_comments": "Show all comments for this thread",
            "show_x_comments": "Show all %d comments",
            "unsaved_changes": "Your profile has unsaved changes. If you leave the page, the changes will be lost.",
            "view": "View",
            "newest": "Load Newest",
            "pulse": "15"
        };
        /* ]]> */
    </script>
    <script type="text/javascript" src="/Public/Material/js/buddypress.min.js"></script>
    <link rel="https://api.w.org/" href="http://www.themeenergy.com/themes/wordpress/social-chef/wp-json/">
    <link rel="EditURI" type="application/rsd+xml" title="RSD"
          href="http://www.themeenergy.com/themes/wordpress/social-chef/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="http://themeenergy.mthitsolutions1.netdna-cdn.com/themes/wordpress/social-chef/wp-includes/wlwmanifest.xml">
    <link rel="alternate" type="application/json+oembed"
          href="http://www.themeenergy.com/themes/wordpress/social-chef/wp-json/oembed/1.0/embed?url">
    <link rel="alternate" type="text/xml+oembed"
          href="http://www.themeenergy.com/themes/wordpress/social-chef/wp-json/oembed/1.0/embed?url&amp;format=xml">

    <script type="text/javascript">var ajaxurl = 'http://www.themeenergy.com/themes/wordpress/social-chef/wp-admin/admin-ajax.php';</script>


    <link rel="alternate" type="application/rss+xml" title="SocialChef | Site Wide Activity RSS Feed"
          href="http://www.themeenergy.com/themes/wordpress/social-chef/activity/feed/">


    <link rel="alternate" type="application/rss+xml" title="SocialChef | A new group | Group Activity RSS Feed"
          href="http://www.themeenergy.com/themes/wordpress/social-chef/groups/a-new-group/feed/">


    <script type="text/javascript">
        /* <![CDATA[ */
        var ajaxurl = 'http://www.themeenergy.com/themes/wordpress/social-chef/wp-admin/admin-ajax.php';
        /* ]]> */
    </script>

    <link rel="canonical" href="http://www.themeenergy.com/themes/wordpress/social-chef/groups/a-new-group/">
    <link rel="stylesheet" href="/Public/Material/css/styler.css">
</head>
<body class="single-item groups group-a-new-group group-home home buddypress page page-id-0 page-parent page-template-default js">
<!--preloader-->
<div class="preloader" style="display: none; opacity: 0;">
    <div class="spinner"></div>
</div>
<!--//preloader-->
<!--header-->
<?php include dirname(dirname(__FILE__)) . '/Public/header.html'; ?>
<!--//header-->
<!--main-->
<main class="main" role="main">
    <!--wrap-->
    <div class="wrap clearfix">
        <!--breadcrumbs-->
        <nav role="navigation" class="breadcrumbs">
            <ul>
                <li><a href="http://www.themeenergy.com/themes/wordpress/social-chef" title="Home">Home</a></li>
                <li><a href="http://www.themeenergy.com/themes/wordpress/social-chef/groups">A new group</a></li>
            </ul>
        </nav><!--//breadcrumbs-->
        <div class="row">
            <header class="s-title">
                <h1><?=$material['name'];?></h1>
            </header>
            <!--full-width-->
            <section class="content full-width">
                <!--container-->
                <article id="page-0">
                    <div id="buddypress">


                        <div id="item-header" role="complementary">


                            <div id="cover-image-container">
                                <a id="header-cover-image"
                                   href="http://www.themeenergy.com/themes/wordpress/social-chef/groups/a-new-group/"></a>

                                <div id="item-header-cover-image">
                                    <div id="item-header-avatar">
                                        <a href="http://www.themeenergy.com/themes/wordpress/social-chef/groups/a-new-group/"
                                           title="A new group">

                                            <img class="avatar" alt="A new group"
                                                 src="/Public/Material/images/avatar.jpg"
                                                 width="270" height="270">
                                        </a>
                                    </div><!-- #item-header-avatar -->

                                    <div id="item-header-content">

                                        <div id="item-buttons"></div><!-- #item-buttons -->


                                        <div id="item-meta">


                                            <span class="highlight"><?=$material['effect'];?></span>

                                            <p>This is a new group I am creating!</p>

                                        </div>
                                    </div><!-- #item-header-content -->

                                    <div id="item-actions">


                                        <h3>禁忌人群</h3>

                                        <ul id="group-admins">
                                            <li>
                                                <a href="http://www.themeenergy.com/themes/wordpress/social-chef/members/admin/"><img
                                                        src="/Public/Material/images/66244049ec442247c05ab60c29b6ecbe-bpthumb.jpg"
                                                        class="avatar user-1-avatar avatar-90 photo" width="90"
                                                        height="90" alt="Profile picture of admin"></a>
                                            </li>
                                        </ul>

                                    </div><!-- #item-actions -->

                                </div><!-- #item-header-cover-image -->
                            </div><!-- #cover-image-container -->


                        </div><!-- #item-header -->

                        <div id="item-nav">
                            <div class="item-list-tabs no-ajax" id="object-nav" role="navigation">
                                <ul>
                                    <li id="home-groups-li" class="current selected">
                                        <a id="home" href=""><?=$material['name'];?>的做法大全</a>
                                    </li>
                                    <li id="nav-forum-groups-li">
                                        <a id="nav-forum" href=""><?=$material['name'];?>的功效与作用</a>
                                    </li>
                                    <li id="members-groups-li">
                                        <a id="members"href="" >食物相克表
                                        <span>21</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- #item-nav -->

                        <div id="item-body">



                            <div class="activity single-group">


                                <ul id="activity-stream" class="activity-list item-list">


                                    <li class="groups joined_group activity-item mini" style="padding: 0px;">
                                        <section class="content three-fourth wow fadeInUp">
                                            <!--entries-->
                                            <div class="entries row">
                                                <!--item-->
                                                <div class="entry one-third wow fadeInLeft">
                                                    <figure>
                                                        <img src="images/img6.jpg" alt="" />
                                                        <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                                    </figure>
                                                    <div class="container">
                                                        <h2><a href="recipe.html">Thai fried rice with fruit and vegetables</a></h2>
                                                        <div class="actions">
                                                            <div>
                                                                <div class="difficulty"><i class="ico i-medium"></i><a href="#">medium</a></div>
                                                                <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                                <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--item-->

                                                <!--item-->
                                                <div class="entry one-third wow fadeInLeft" data-wow-delay=".2s">
                                                    <figure>
                                                        <img src="images/img5.jpg" alt="" />
                                                        <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                                    </figure>
                                                    <div class="container">
                                                        <h2><a href="recipe.html">Spicy Morroccan prawns with cherry tomatoes</a></h2>
                                                        <div class="actions">
                                                            <div>
                                                                <div class="difficulty"><i class="ico i-hard"></i><a href="#">hard</a></div>
                                                                <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                                <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--item-->

                                                <!--item-->
                                                <div class="entry one-third wow fadeInLeft" data-wow-delay=".4s">
                                                    <figure>
                                                        <img src="images/img8.jpg" alt="" />
                                                        <figcaption><a href="recipe.html"><i class="ico i-view"></i> <span>View recipe</span></a></figcaption>
                                                    </figure>
                                                    <div class="container">
                                                        <h2><a href="recipe.html">Super easy blueberry cheesecake</a></h2>
                                                        <div class="actions">
                                                            <div>
                                                                <div class="difficulty"><i class="ico i-easy"></i><a href="#">easy</a></div>
                                                                <div class="likes"><i class="ico i-likes"></i><a href="#">10</a></div>
                                                                <div class="comments"><i class="ico i-comments"></i><a href="http://www.themeenergy.com/themes/html/social-chef/recipe.html#comments">27</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--item-->
                                            </div>
                                        </section>

                                    </li>



                                </ul>
                            </div><!-- .activity.single-group -->


                        </div><!-- #item-body -->


                    </div><!-- #buddypress -->
                </article><!--//container-->
            </section><!--//full-width-->
        </div><!--//row-->
    </div><!--//wrap-->

</main><!--//main-->

<!--footer-->
<?php include dirname(dirname(__FILE__)) . '/Public/footer.html'; ?>
<!--//footer-->
<link rel="stylesheet" id="wangguard-bp-css" href="/Public/Material/css/wangguard-bp.css" type="text/css" media="all">
<script type="text/javascript" src="/Public/Material/js/editor.js"></script>
<script type="text/javascript" src="/Public/Material/js/jquery.form.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/scripts.js"></script>
<script type="text/javascript" src="/Public/Material/js/add-to-cart.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/jquery.blockUI.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/woocommerce.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/jquery.cookie.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/cart-fragments.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/Public/Material/js/scripts(1).js"></script>
<script type="text/javascript" src="/Public/Material/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/Public/Material/js/wp-embed.min.js"></script>
<!-- TEMPLATE STYLES -->
<script type="text/javascript" src="/Public/Material/js/styler.js"></script>
</body>
</html>